<%= form_with(model: surpluse, local: true) do |form| %>
  <% if surpluse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(surpluse.errors.count, "error") %> prohibited this surpluse from being saved:</h2>

      <ul>
        <% surpluse.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :resource %>
    <%= form.text_field :resource %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
