<h1>Needs</h1>

<table>
  <thead>
    <tr>
      <th>Resource</th>
      <th>Description</th>
      <th>Quantity</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @needs.each do |need| %>
      <tr>
        <td><%= need.resource %></td>
        <td><%= need.description %></td>
        <td><%= need.quantity %></td>
        <td><%= need.active %></td>
        <td><%= link_to 'Show', need_path(need) %></td>
        <td><%= link_to 'Edit', edit_need_path(need) %></td>
        <td><%= link_to 'Destroy', need, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Need', new_organization_need_path(@organization) %>
