<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= label :organization, :id, "Organization" %>
    <% if current_user.superuser? %>
      <%= collection_select :organization, :id, Organization.all, :id, :name,
                            include_blank: true,
                            selected: current_user.organization&.id %>
    <% else %>
      <%= hidden_field :organization, :id, value: current_user.organization&.id %>
      <%= link_to current_user.organization&.name, current_user.organization %>
    <% end %>
  </div>

  <div class="field">
    <% if current_user.superuser? %>
      <%= radio_button :role, :name, :superuser %>
      <%= label :role, :name, "Superuser" %>
    <% end %>
    <%= radio_button :role, :name, :admin %>
    <%= label :role, :name, "Admin" %>
    <%= radio_button :role, :name, :member %>
    <%= label :role, :name, "Member" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
