<%= form_with(model: [@need, fulfillment], local: true) do |form| %>
  <% if fulfillment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fulfillment.errors.count, "error") %> prohibited this fulfillment from being saved:</h2>

      <ul>
        <% fulfillment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :need %>
    <%= link_to @need.resource, need_path(@need) %> <%= @need.description %>
  </div>

  <div class="field">
    <%= form.label :organization_id %>
    <%= form.collection_select :organization_id, Organization.all, :id, :name,
                          include_blank: false,
                          selected: @need.organization %>
  </div>

  <div class="field">
    <%= form.hidden_field :active, value: false %>
  </div>

  <div class="field">
    <%= form.hidden_field :received, value: true %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="actions">
    <%= form.button "Add Partial Fulfillment" %>
  </div>
<% end %>
