<%= form_with(model: [@need, fulfillment], local: true) do |form| %>
  <% if fulfillment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fulfillment.errors.count, "error") %> prohibited this fulfillment from being saved:</h2>

      <ul>
        <% fulfillment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :need %>
    <%= link_to @need.resource, need_path(@need) %> <%= @need.description %>
  </div>

  <div class="field">
    <%= form.label :organization_id %>
    <%= form.hidden_field :organization_id, value: user.organization.id %>
    <%= link_to user.organization&.name, user.organization %>
  </div>

  <div class="field">
    <%= form.hidden_field :active, value: true %>
  </div>

  <div class="field">
    <%= form.hidden_field :received, value: true %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
