<p>
  <strong>Resource:</strong>
  <%= @surplus.resource %>
</p>

<p>
  <strong>Description:</strong>
  <%= @surplus.description %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @surplus.quantity %>
</p>

<p>
  <strong>Active:</strong>
  <%= @surplus.active %>
</p>

<%= link_to 'Edit', edit_surplu_path(@surplus) %> |
<%= link_to 'Back', organization_surplus_path(@surplus.organization) %> |
<%= link_to 'Claim', new_surplu_claim_path(@surplus) %>
