<%= form_with(model: organization, local: true) do |form| %>
  <% if organization.errors.any? %>
    <div class="bg-washed-red fw6 br3 pa3 mb4" role="alert">
      <div class="fw7 mb2"><%= pluralize(organization.errors.count, "error") %> prohibited this organization from being saved:</div>
      <ul class="ml4">
        <% organization.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="cf mb3">
    <div class="w-50-l">
      <div class="mb3">
        <%= form.label :name, class: "db mb1 fw6" %>
        <%= form.text_field :name, class: "pa3 br2 b--black-20 w-100" %>
      </div>
      <div class="mb3">
        <%= form.label :contact, class: "db mb1 fw6" %>
        <%= form.text_field :contact, class: "pa3 br2 b--black-20 w-100" %>
      </div>
      <div class="mb3">
        <%= form.label :email, class: "db mb1 fw6" %>
        <%= form.text_field :email, class: "pa3 br2 b--black-20 w-100" %>
      </div>
      <div class="mb3">
        <%= form.label :phone, class: "db mb1 fw6" %>
        <%= form.text_field :phone, class: "pa3 br2 b--black-20 w-100" %>
      </div>
    </div>
  </div>

  <%= form.button class: "bg-blue white bg-animate hover-bg-dark-blue fw6 br2 pv3 ph4 mr4 mb3" %>
  <%= link_to 'Cancel Update', @organization, class: "link underline hover-blue dib mr4" %>
  <%= link_to 'Delete', organization, class: "link underline hover-red dib", method: :delete, data: { confirm: 'Are you sure?' } %>

<% end %>
