<div class="mb4 ph2">
  <div class="mw7 center">
    <h1 class="f3 fw7 mb3">Organizations</h1>

    <% @organizations.each do |organization| %>
      <div class="bg-white shadow pa3 pa4-l">
        <h2 class="f4 fw7 mb3"><%= organization.name %></h2>
        <div class="cf">
          <div class="fl-l w-50-l pr4-l">
            <h3 class="fw7 mb1">Address</h3>
            <div class="mb3">123 Placeholder Ave<br>Portland, OR 97202</div>
            <h3 class="fw7 mb1">Dropoff / pickup hours</h3>
            <div class="mb3">Monday–Friday 9–5</div>
            <h3 class="fw7 mb1">Contact</h3>
            <div class="mb1"><%= organization.contact %></div>
            <div class="mb1"><%= organization.email %></div>
            <div class="mb3"><%= organization.phone %></div>
          </div>
          <div class="fl-l w-50-l">
            <h3 class="fw7 mb1">Additional Information</h3>
            <div class="mb4">Additional info placeholder.</div>
            <ul>
              <li class="list pb2"><%= link_to 'Show', organization, class: "link underline hover-blue" %></li>
              <li class="list pb2"><%= link_to 'Edit', edit_organization_path(organization), class: "link underline hover-blue" %></li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
