<!DOCTYPE html>
<html>
  <head>
    <title>BasicRights</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/0bc5a5fb61.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css" %>
  </head>

  <body class="bg-gray-blue black-70 f6 f5-ns">
    <nav class="bg-white shadow pt3 ph2 mb4">

      <div class="mw7 center flex-l justify-between">
        <div class="b tracked-tight pl2 pl0-l pv2">
          <%= link_to '💙 Basic Rights', root_path %>
        </div>
        <div class="dib mb3">
          <%= link_to 'Requests', needs_path, class: "link hover-blue dib pa2 f6 f5-l" %>
          <%= link_to 'Offers', surplus_path, class: "link hover-blue dib pa2 f6 f5-l" %>
          <%= link_to 'Orgs', organizations_path, class: "link hover-blue dib pa2 f6 f5-l" %>
          <%= link_to 'About', about_path, class: "link hover-blue dib pa2 f6 f5-l" %>
          <%= link_to 'Admin', admin_path, class: "link hover-blue dib pa2 f6 f5-l" if current_user %>
          <%= link_to 'Account', user_path(current_user), class: "link hover-blue dib pa2 f6 f5-l" if current_user %>
          <%= link_to 'Sign In', user_session_path, class: "link hover-blue dib pa2 f6 f5-l" unless current_user %>
          <%= link_to 'Sign Out', destroy_user_session_path, class: "link hover-blue dib pa2 f6 f5-l", method: :delete if current_user %>
        </div>
      </div>

      <div class="mw7 center overflow-auto">
        <div class="fr-l pb3 pl2 pl0-l">
          <% if current_user %>
            <%= link_to root_path, class: "link hover-blue fw6 mr3" do %>
              <span class="fas fa-plus-circle pr1" aria-hidden="true"></span>Request
            <% end %>
            <%= link_to root_path, class: "link hover-blue fw6" do %>
              <span class="fas fa-plus-circle pr1" aria-hidden="true"></span>Offer
            <% end %>
          <% end %>
      </div>

    </nav>
    <div role="status" class="mw7 center">
      <% if notice %>
        <p class="bg-washed-green shadow fw6 br3 pa3 mb4"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="bg-washed-red shadow fw6 br3 pa3 mb4"><%= alert %></p>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
